{% set tabFreq=["Tous les jours" , "Toutes les semaines" , "Tous les mois"] %}
{% set tabType=["Jeu de données" , "Donnée unique"] %}

<div id="updown-container">
            <div id="right-split-container">
                <div class="left-col">
                    <form id="params">
                        <label for="colparam-name">Nom de la collecte</label>
                        <input id="colparam-name" type="text" name="name" placeholder="Entrez un nom" value="{{ params[0].name }}">
                        <label for="colparam-url">URL</label>
                        <input id="colparam-url" type="text" name="url" placeholder="Entrez l'URL à collecter" value="{{ params[0].url }}">
                        <label for="colparam-frequence">Fréquence de la collecte</label>
                        <select id="colparam-frequence" name="frequence" onfocus='this.size=3;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                            {% for frequence in tabFreq %}
                                {% if frequence == params[0].frequence %}
                                    <option value="{{ frequence }}" selected="selected">{{ frequence }}</option>
                                {% else %}
                                    <option value="{{ frequence }}">{{ frequence }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <label for="colparam-donnees">Type de données</label>
                        <select id="colparam-donnees" name="type" onfocus='this.size=3;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                            {% for type in tabType %}
                                {% if type == params[0].type %}
                                    <option value="{{ type }}" selected="selected">{{ type }}</option>
                                {% else %}
                                    <option value="{{ type }}">{{ type }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <div class="edit-validate-box">
                            <p class="edit-validate-btn txt-center" onclick="validateEdit({{ ID }})">Valider les changements</p>
                        </div>
                    </form>
                    <div id="new-element-btn" onclick="newSelector({{ ID }})">
                        <div id="new-element-icon"></div>
                        <p>Ajoutez un element à cibler</p>
                    </div>
                </div>
                <div id="element-box-container" class="right-col scroller">
                    {% block scrapselector %}
                        {% include "/parts/scrapselector.html.twig" %}
                    {% endblock %}
                </div>
            </div>
        </div>