<div id="option-see" class="option-btn" onclick="opSee(this,{{ ID }})"><p class="option-label">Voir</p></div>
<div id="option-collect" class="option-btn" onclick="opCollect(this,{{ ID }})")><p class="option-label">Lancer</p></div>
<div id="option-edit" class="option-btn" onclick="opEdit(this,{{ ID }})"><p class="option-label">Modifier</p></div>
<div id="option-save" class="option-btn" onclick="opSave(this,{{ ID }})"><p class="option-label">Enregistrer</p></div>
<div id="option-delete" class="option-btn" onclick="opDelete(this,{{ ID }})"><p class="option-label">Supprimer</p></div>