
{% for scrap in scraps %}
        <div class="scrapitem f-sbold" onclick="opSelect(this,{{ scrap.ID }})">
        <p class="scrap-number">{{ loop.index }} .</p>
        <p class="scrap-title txt-center">{{ scrap.name }}</p>
        <div class="scrapitem-details">
            <p class="scrap-url txt-center txt-main-lighter f-it f-13"><a target="_blank" href="{{ scrap.url }}">{{ scrap.url }}</a></p>
            <div class="scrapitem-options">
                
            </div>
        </div>
    </div>
{% endfor %}